#quotesMenu {
	float:left;
}

#actionMenu ul{
	list-style-type: none;
}

#newQuoteForm ul {
	list-style-type: none;
}

#friendsMenu {
	float:left;
}

#newQuoteForm {
	clear: both;
}

#newQuoteForm  textarea {
	text-align: justify;
}