#quotesMenu {
	float:left;
}

#actionMenu ul, #newQuoteForm ul, #newFriend ul, #currentMembers ul{
	list-style-type: none;
}

#friendsMenu {
	float:left;
}

#newQuoteForm, #newFriend, #databaseResults {
	clear: both;
}


#newQuoteForm  textarea {
	text-align: justify;
}