#quotesMenu {
	float:left;
}

#actionMenu ul, #newQuoteForm ul, #newFriend ul{
	list-style-type: none;
}

#friendsMenu {
	float:left;
}

#newQuoteForm, #newFriend {
	clear: both;
}


#newQuoteForm  textarea {
	text-align: justify;
}